*{
    box-sizing: border-box;
}

html body{
    width: 30%;
    margin:20px auto;
    vertical-align: middle;
}

.container{
    width: 360px;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 5px 5px 8px #726565;
}

.container h1{
    text-align: center;
}

.container input{
    margin-left: 23%;
}

.paragraph{
    text-align: center;
    font-size: 20px;
}

.paragraph:hover{
    cursor: pointer;
}